{{>header aboutTab=true}}
<br>
<h3>{{name}}</h3>
<p> This site is used to show the weather based tiny information based on your current locations you search. Just for the reference for you purposes, you can learn and earn things because of this information.</p>
{{>footer}}