{{>header helTab=true}}
<br>
<fieldset class="form-horizontal">
    <legend>
        <h3>
            {{name}}
        </h3>
    </legend>
    <form>
        <input type="text" class="form-control" id="name" placeholder="name">
        <br>
        <input type="text" class="form-control" id="email" placeholder="email">
        <div class="button-group">
            <button type="button" class="btn-primary">Submit</button>
            <button type="button" class="btn-warning">Cancel</button>
        </div>
    </form>
</fieldset>
{{>footer}}