
{{>header homeTab=true}}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <input type="search" name="search" id="search" onsearch="searchTypedWeather(this)" class="form-control" placeholder="Search a valid locations...">
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Weather</h5>
                </div>
                <div class="card-body">
                    <p id="weather-report"></p>
                    <p id="no-data" class="text-center">No data found.</p>
                    <div class="text-center" style="display: none" id="loader">
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer loadForecast=true}}